/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 600px;
  background-image: linear-gradient(to top, #b5b9ff, #2b2c49);
  margin-top: 100px;
  border-radius: 10px;
}
